/* Header Styles */

.jc {
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 100%;
    margin: 0;
}

/* Button Styles */

.btn-jc {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--primary-color-highlight);
    /* width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 1.25rem; */
}

.btn-jc:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color-highlight);
}

.btn-info-jc {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color-highlight);
    /* width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 1.25rem; */
}

.btn-info-jc:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--primary-color-highlight);
}