.root{
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--primary-color);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    margin-top: 0;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: var(--primary-color);
    color: #021d7462;
    position: fixed;
    width: 100%;
    bottom: 0;
}
